body {
    background: #eeeeee !important;
  }
  
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-signup {
    max-width: 400px;
    padding: 15px 35px 35px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
  }
  
  .form-signup-heading {
    margin-bottom: 30px;
  }
  
  .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px #000000;
  }
  
  .btn-block {
    width: 100%;
  }
  